*__pycache__/
*.idea/
*.ipynb_checkpoints/
*.pyc
.env
node_modules
.vscode
*build/
*.build/
*.pickle
*.h5py
*.trained*
*.cache/
*.config
*.validation_result*
*config
*.json*
*.trained
*.ipynb_checkpoints
